.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-sqvad {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  border: 3px solid black;
  list-style: none;
  flex-direction: row;
  height: 300px;
  padding: 0;
}

.small-sqvad {
  width: 100px;
  border: 2px solid red;
  height: 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reset-button {
  color: aqua;
}

.pick-fihter {
  width: 80%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.button-fihter {
  width: 20%;
  height: 100%;
}


